.nav {
    background: blueviolet;
    min-height: 70px;
    position: fixed;
    width: 100%;
    color: #fff;
    font-size: 30px;
}

#score {
    position: absolute;
    right: 0;
    text-align: center;
    display: inline-block;
    padding: 20px 0;
    width: 35%;
}
#title {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 20px 0;
}